# JDK
jdk17/

# Build
app/build/
desktop/build/
dist/
.gradle/

# IDE
.idea/
*.iml

# OS
Thumbs.db
desktop/desktop-1.5.0-all.jar

# Temp
screenshot.png
migrate_package.ps1

# Local config
local.properties
